<h1>Classroom Info</h1>
<%= render partial: "classroom", locals: {classroom: @classroom} %>

<h1>Classroom Students:</h1>
<%@classroom.students.each do |s| %>
<%= render partial: "students/student", locals: {student: s} %>
<%end%>